#pc-wrap {
  .home-page {
    position: relative;
    width: 100%;
    height: auto;
    .info-box {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .left {
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: flex-start;

        span {
          color: #181a20;
          font-family: $font;
          font-size: 34px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: -0.646px;
          text-transform: capitalize;
          &.white {
            color: #ffffff;
          }
        }
        p {
          color: #181a20;
          font-family: $font;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          &.white {
            color: #ffffff;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .pagination-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background: #000000;
          }
          .swiper-trend-next {
            margin-left: 20px;
            cursor: pointer;
          }
          .swiper-trend-prev {
            margin-right: 20px;
            cursor: pointer;
          }
          .swiper-top-next {
            margin-left: 20px;
            cursor: pointer;
          }
          .swiper-top-prev {
            margin-right: 20px;
            cursor: pointer;
          }
        }
        .more-box {
          display: flex;
          flex-direction: row;
          cursor: pointer;
          align-items: center;
          span {
            color: #181a20;
            font-family: $font;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
          }
          img {
            margin-left: 10px;
            width: 16px;
            height: 16px;
          }
        }
        .btn-box {
          display: flex;
          flex-direction: row;
          button {
            border-radius: 6px;
            background: rgba(255, 255, 255, 0.07);
            color: #ffffff;
            font-family: $font;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            text-transform: capitalize;
            &:first-child {
              margin-right: 20px;
            }
            &.active {
              border: 1px solid #181a20;
              background: #fff;
              color: #181a20;
              font-family: $font;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 28px;
            }
          }
        }
      }
    }
    .trend-properties {
      padding: 108px 0px 76px;
      width: 100%;
      height: 707px;
      display: flex;
      flex-direction: row;
      .container {
        flex-direction: column;
        .card-box {
          position: relative;
          margin-top: 64px;
          display: flex;
          flex-direction: row;
          .empty-list {
            width: 100%;
            height: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .trend-property-swiper {
            width: 100%;
            height: 450px;
            display: flex;
            flex-direction: row;
            .trend-property-slide {
              width: auto;
              height: auto;
              display: flex;
              margin: 10px 0 0 10px;
            }
          }
          .trend-card-box {
            position: relative;
            width: 300px;
            height: 375px;
            display: flex;
            flex-direction: column;
            transition: transform 0.5s, box-shadow 0.3s, border-color 0.3s;
            border-radius: 12px;
            overflow: hidden;
            background-color: #ffffff;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
            cursor: pointer;

            &:hover {
              transform: scale(1.05);
              box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
              border: 2px solid #00ff22; // Vibrant border on hover
            }

            &:focus-within {
              outline: 3px solid #0078ff;
            }

            .card-img {
              position: relative;
              width: 100%;
              height: 303px;
              background-size: cover;
              border-radius: 12px 12px 0 0;
              overflow: hidden;

              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                transition: background 0.3s;
              }

              &:hover::after {
                background: rgba(0, 0, 0, 0.5);
              }

              div {
                border: 2px solid orangered;
                position: absolute;
                padding: 8px 12px;
                left: 12px;
                bottom: 12px;
                border-radius: 6px;
                background: #ffffff;
                color: #181a20;
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
              }
            }

            .info {
              padding: 20px 22px 17px;
              display: flex;
              flex-direction: column;
              border-radius: 0px 0px 12px 12px;
              border-top: none;
              background: #ffffff;
              box-shadow: 0px 1px 4px rgba(24, 26, 32, 0.07);
              transition: background 0.3s;
              border: 4px solid rgb(236, 174, 17);

              .title {
                color: #181a20;
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                text-transform: capitalize;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;
                transition: color 0.3s;

                &:hover {
                  color: #15ff00; // Change color on hover
                }
              }

              .bott {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 12px;

                p {
                  color: #181a20;
                  font-family: $font;
                  font-size: 13px;
                  font-weight: 400;
                  text-transform: capitalize;
                }

                button {
                  margin-left: 7px;
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  border: none;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #ffffff;
                  font-size: 14px;
                  font-weight: bold;
                  transition: background-color 0.3s;
                  color: gray;
                }

                .view-like-box {
                  display: flex;
                  align-items: center;
                  color: #000;

                  gap: 2px;

                  .view-cnt {
                    color: #717171;
                    font-family: $font;
                    font-size: 11.4px;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }
        }
      }
    }
    .popular-properties {
      padding: 132px 0px 94px;
      width: 100%;
      height: 816px;
      display: flex;
      flex-direction: row;
      background: #f6f6f6;
      .container {
        flex-direction: column;
        align-items: center;
        .card-box {
          margin-top: 34px;
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .popular-property-swiper {
            width: 100%;
            height: 425px;
            display: flex;
            flex-direction: row;
            .popular-property-slide {
              width: auto;
              height: auto;
              display: flex;
              margin: 10px 0 10px 5px;
            }
          }
        }
        .pagination-box {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background: #000000;
          }
          .swiper-popular-next {
            margin-left: 20px;
            cursor: pointer;
          }
          .swiper-popular-prev {
            margin-right: 20px;
            cursor: pointer;
          }
        }
      }
    }

    .popular-card-box {
      position: relative;
      width: 300px;
      height: 405px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      overflow: hidden;
      transform: translateY(10px);
      transition: transform 0.5s ease, opacity 0.4s ease, box-shadow 0.4s ease;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
      border: 2px solid yellow;

      .card-img {
        position: relative;
        width: 100%;
        height: 303px;
        background-size: cover;
        background-position: center;
        border-radius: 12px 12px 0 0;
        cursor: pointer;
        transition: filter 0.4s ease;

        &:hover {
          filter: brightness(0.9) saturate(1.2);
        }

        div.status {
          position: absolute;
          top: 20px;
          left: 20px;
          padding: 6px 18px;
          display: flex;
          align-items: center;
          border-radius: 6px;
          background: #ff7a59;
          color: #fff;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.5px;

          img {
            width: 14px;
            height: 14px;
          }

          span {
            margin-left: 8px;
          }
        }

        div.price {
          position: absolute;
          left: 15px;
          bottom: 12px;
          padding: 6px 10px;
          background: #ffffff;
          border-radius: 6px;
          font-size: 15px;
          font-weight: 600;
          color: #ff5555;
          text-decoration: line-through;
          opacity: 0.85;
          transition: color 0.3s ease;
          &:hover {
            color: #ff0000;
          }
        }
      }

      .info {
        padding: 20px;
        background-color: rgb(238, 223, 68);
        border-radius: 0 0 12px 12px;
        border: 1px solid rgba(196, 196, 196, 0.5);
        box-shadow: 0px 2px 8px rgba(24, 26, 32, 0.1);
        transition: background 0.3s ease;

        .title {
          color: #333;
          font-size: 16px;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
          transition: color 0.3s ease;

          &:hover {
            color: #007aff;
          }
        }

        .bott {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 15px;

          p {
            color: #555;
            font-size: 14px;
            font-weight: 500;
            text-transform: capitalize;
            transition: color 0.3s ease;
            span {
              color: green;
            }
            &:hover {
              color: #ff7a59;
            }
          }

          button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #f1f1f1;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.3s ease;

            &:hover {
              background-color: #e0e0e0;
            }
          }

          .view-like-box {
            display: flex;
            color: #ffffff;
            gap: 3px;
            align-items: center;

            .view-cnt {
              color: #007aff;
              font-size: 11.4px;
              font-weight: 400;
              transition: color 0.3s ease;
            }
          }
        }
      }
    }

    .video-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: 720px;
      .video-frame {
        width: 45%;
        height: 718px;
        background: black;
        box-shadow: -3px 0px 25px 18px rgba(52, 52, 52, 0.8);
        border-radius: 12px;
        overflow: hidden;
        transition: transform 0.4s ease, box-shadow 0.4s ease;
        margin-bottom: 10px;

        &:hover,
        &:focus-within {
          transform: scale(1.03);
          box-shadow: -3px 0px 25px 18px rgba(52, 52, 52, 0.8),
            0px 4px 30px rgba(0, 255, 34, 0.3);
          border: 2px solid rgba(0, 255, 34, 0.6);

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(
              circle,
              rgba(255, 255, 255, 0.1),
              transparent 60%
            );
            mix-blend-mode: overlay;
            pointer-events: none;
          }
        }
      }
      .video-frame2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
        width: 45%;
        box-shadow: -3px 0px 25px 18px rgba(52, 52, 52, 0.8);
        border-radius: 12px;
        overflow: hidden;
        transition: transform 0.4s ease, box-shadow 0.4s ease;
        margin-bottom: 10px;

        &:hover,
        &:focus-within {
          transform: scale(1.03);
          box-shadow: -3px 0px 25px 18px rgba(52, 52, 52, 0.8),
            0px 4px 30px rgba(0, 255, 34, 0.3);
          border: 2px solid rgba(0, 255, 34, 0.6);

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(
              circle,
              rgba(255, 255, 255, 0.1),
              transparent 60%
            );
            mix-blend-mode: overlay;
            pointer-events: none;
          }
        }
        div {
          height: 50%;
          video {
            border-radius: 15px;
          }
        }
      }
    }

    .top-properties {
      padding: 108px 0 76px;
      width: 100%;
      height: 797px;
      display: flex;
      flex-direction: row;

      .container {
        flex-direction: column;

        .card-box {
          position: relative;
          margin-top: 64px;
          display: flex;
          flex-direction: row;

          .top-property-swiper {
            width: 100%;
            height: 550px;
            display: flex;
            flex-direction: row;

            .top-property-slide {
              width: auto;
              height: auto;
              display: flex;
              margin: 10px 0 0 10px;
            }
          }

          .top-card-box {
            position: relative;
            width: 295px;
            height: 455px;
            display: flex;
            flex-direction: column;
            border: outset 2px tomato;
            transition: transform 0.5s ease, box-shadow 0.3s ease,
              opacity 0.4s ease;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
            background-color: #fff;

            &:hover {
              opacity: 1;
              transform: translateY(7px) translateX(10px) scale(1.02);
              box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.15);
            }

            .card-img {
              position: relative;
              width: 100%;
              height: 340px;
              background-size: cover;
              background-position: center;
              border-radius: 12px 12px 0 0;
              border-bottom: 3px outset tomato;
              cursor: pointer;
              transition: all 0.5s ease;

              &:hover {
                filter: brightness(0.7);
              }

              div {
                position: absolute;
                padding: 8px 12px;
                left: 12px;
                bottom: 12px;
                border-radius: 6px;
                background: rgba(255, 255, 255, 0.7);
                color: #181a20;
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                text-transform: capitalize;
              }
            }

            .info {
              padding: 20px 22px 17px;
              display: flex;
              flex-direction: column;
              box-sizing: border-box;
              border-radius: 0 0 12px 12px;
              border: 1px solid rgba(196, 196, 196, 0.71);
              border-top: none;
              background: #fff;
              box-shadow: 0px 1px 4px rgba(24, 26, 32, 0.07);

              .desc {
                margin-top: 10px;
                overflow: hidden;
                color: #717171;
                font-family: $font;
                font-size: 13px;
                font-weight: 400;
                line-height: normal;
                text-overflow: ellipsis;
                white-space: nowrap;
                transition: color 0.3s ease;

                &:hover {
                  color: #ff7a59;
                }
              }

              .options {
                margin-top: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                div {
                  display: flex;
                  flex-direction: row;
                  align-items: center;

                  img {
                    margin-right: 5px;
                    width: 18px;
                    height: 18px;
                  }

                  span {
                    color: #181a20;
                    font-family: $font;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: capitalize;
                    transition: color 0.3s ease;

                    &:hover {
                      color: #ff7a59;
                    }
                  }
                }
              }

              .bott {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;

                p {
                  color: #181a20;
                  font-family: $font;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: normal;
                  text-transform: capitalize;
                  transition: color 0.3s ease;

                  &:hover {
                    color: #ff7a59;
                  }
                }

                button {
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  background-color: #f1f1f1;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: none;
                  cursor: pointer;
                  transition: background 0.3s ease;

                  &:hover {
                    background-color: #e0e0e0;
                  }
                }

                .view-like-box {
                  display: flex;
                  flex-direction: row;
                  gap: 7px;
                  align-items: center;

                  .view-cnt {
                    color: #717171;
                    font-family: $font;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: normal;
                    transition: color 0.3s ease;

                    &:hover {
                      color: #ff7a59;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .top-agents {
      position: relative;
      padding: 153px 0px 135px;
      width: 100%;
      height: 822px;
      display: flex;
      flex-direction: row;

      .container {
        text-align: center;
        position: relative;
        flex-direction: column;
        align-items: center;

        .wrapper {
          margin-top: 83px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .switch-btn {
            width: 53px;
            height: 53px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #70562dd5;
            filter: drop-shadow(0px 10px 35px rgba(5, 16, 54, 0.1));
            cursor: pointer;

            svg {
              width: 14px;
              height: 14px;
            }

            &.swiper-agents-next {
              transform: rotate(180deg);
            }
          }

          .card-wrapper {
            width: 1240px;
            height: 300px;
            display: flex;
            flex-direction: row;

            .top-agents-swiper {
              width: 99.7%;
              height: 410px;
              display: flex;
              flex-direction: row;

              .top-agents-slide {
                width: auto;
                height: auto;
                display: flex;
              }
            }

            .top-agent-card {
              margin-top: 10px;
              width: 280px;
              height: 380px;
              display: flex;
              flex-direction: column;
              border-radius: 8px;
              background: #ffffff;
              box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
              overflow: hidden;
              transition: transform 0.3s, box-shadow 0.3s;
              border: 2px solid black;
              .verified {
                position: absolute;
                width: 30px;
                height: 30px;
                border: none;
                bottom: 100px;
                left: 10px;
              }
              &:hover,
              &:focus {
                transform: translateY(-10px);
                box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
                border: 3px solid green;
                .agentImage {
                  border-bottom: 3px solid green;
                }
              }

              img {
                position: relative;
                cursor: pointer;
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-bottom: 2px solid black;
              }

              strong {
                margin: 10px 0 5px;
                color: #181a20;
                text-align: center;
                font-family: $font;
                font-size: 15px;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                cursor: pointer;
                transition: color 0.3s;

                &:hover,
                &:focus {
                  color: #007bff;
                }
              }

              span {
                color: #6c757d;
                text-align: center;
                font-family: $font;
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
              }
            }
          }
        }
      }
    }

    .events {
      display: flex;
      height: 700px;
      flex-direction: column;
      align-items: center;
      padding: 2rem;

      .header {
        text-align: center;
        color: #333;

        h2 {
          font-size: 2.5rem;
          color: #ff6b6b;
        }

        p {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
          font-size: 1.2rem;
          color: #444;
        }
      }

      .cards-container,
      .swiper-container {
        width: 100%;
        padding: 1rem;
      }

      .cards-container {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
      }

      .swiper-container {
        .swiper-slide {
          display: flex;
          justify-content: center;
        }

        .swiper-pagination-bullet {
          background-color: #ff6b6b;
        }

        .swiper-pagination-bullet-active {
          background-color: #333;
        }
      }

      .event-card {
        width: 320px;
        height: 460px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0px 10px 30px 10px rgba(5, 87, 107, 0.33);
        }

        .image-overlay {
          width: 100%;
          height: 290px;
          overflow: hidden;

          img {
            width: 100%;
            height: 290px;
            object-fit: cover;
            transition: transform 0.3s ease;
          }
        }

        .event-info {
          background-color: #fff;
          padding: 1.5rem;
          text-align: center;

          h3 {
            font-size: 1.5rem;
            color: #ff6b6b;
            margin-bottom: 0.5rem;
          }

          .city {
            font-size: 1.1rem;
            color: #333;
            font-weight: bold;
          }

          .description {
            font-size: 1rem;
            color: #555;
            margin-top: 0.5rem;
          }
        }
      }
    }

    .community-board {
      position: relative;
      padding: 124px 0px 61px;
      width: 100%;
      height: 860px;
      display: flex;
      flex-direction: row;
      .container {
        flex-direction: column;
        align-items: center;
        .community-main {
          width: 100%;
          margin-top: 60px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .center-line {
            height: 90%;
            align-self: end;
          }
          .content-top {
            margin-bottom: 26px;
            width: 100%;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            span {
              font-family: $font;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 36px;
              color: #616161;
              cursor: pointer;
            }
            img {
              margin-left: 10px;
              width: 25px;
              height: 25px;
            }
          }

          .community-news {
            width: 23%;
            height: auto;
            display: flex;
            flex-direction: column;
            .card-wrap {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              .vertical-card {
                margin-right: 12px;
                margin-bottom: 18px;
                width: 202px;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                .community-img {
                  width: 100%;
                  height: 141px;
                  background-size: cover;
                  background-repeat: round;
                  border-radius: 5px;
                  div {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #4df5ef;
                    border-radius: 5px 0px;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 36px;
                    letter-spacing: -0.015em;
                    color: #bdbdbd;
                  }
                }
                strong {
                  margin-top: 10px;
                  font-family: $font;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 36px;
                  letter-spacing: 0.105em;
                  color: #000000;
                }
                span {
                  width: 200px;
                  max-height: 200px;
                  white-space: normal;
                  overflow-wrap: normal;
                  display: inline-block;
                  font-family: $font;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 19px;
                  letter-spacing: -0.015em;
                  color: #d3d3d3;
                }
              }
            }
          }

          .community-humor {
            width: 23%;
            height: auto;
            display: flex;
            flex-direction: column;
            .card-wrap {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              .vertical-card {
                margin-right: 12px;
                margin-bottom: 18px;
                width: 202px;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                .community-img {
                  width: 100%;
                  height: 141px;
                  background-size: cover;
                  background-repeat: round;
                  border-radius: 5px;
                  div {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #4df5ef;
                    border-radius: 5px 0px;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 36px;
                    letter-spacing: -0.015em;
                    color: #bdbdbd;
                  }
                }
                strong {
                  margin-top: 10px;
                  font-family: $font;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 36px;
                  letter-spacing: 0.105em;
                  color: #000000;
                }
                span {
                  font-family: $font;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 19px;
                  letter-spacing: -0.015em;
                  color: #d3d3d3;
                }
              }
            }
          }

          .community-recommendation {
            width: 23%;
            height: auto;
            display: flex;
            flex-direction: column;
            .card-wrap {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              .vertical-card {
                margin-right: 12px;
                margin-bottom: 18px;
                width: 202px;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                .community-img {
                  width: 100%;
                  height: 141px;
                  background-size: cover;
                  background-repeat: round;
                  border-radius: 5px;
                  div {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #4df5ef;
                    border-radius: 5px 0px;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 36px;
                    letter-spacing: -0.015em;
                    color: #bdbdbd;
                  }
                }
                strong {
                  margin-top: 10px;
                  font-family: $font;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 36px;
                  letter-spacing: 0.105em;
                  color: #000000;
                }
                span {
                  font-family: $font;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 19px;
                  letter-spacing: -0.015em;
                  color: #d3d3d3;
                }
              }
            }
          }

          .community-free {
            width: 24%;
            height: auto;
            display: flex;
            flex-direction: column;
            .horizontal-card {
              display: flex;
              flex-direction: row;
              cursor: pointer;
              margin-bottom: 34px;
              img {
                width: 180px;
                height: 111px;
                border-radius: 7px;
              }
              div {
                margin-left: 25px;
                display: flex;
                flex-direction: column;
                strong {
                  margin-top: 15px;
                  font-family: $font;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 13px;
                  letter-spacing: 0.105em;
                  color: #212121;
                }
                span {
                  font-family: $font;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 13px;
                  line-height: 36px;
                  letter-spacing: 0.105em;
                  color: #bdbdbd;
                }
              }
            }
          }
        }
      }
    }
  }
}

.filter-container {
  display: flex;
  justify-content: center;
  background: #f6f6f6;
  .search-box {
    position: relative;
    margin-top: 56px;
    padding: 16px 29px;
    width: 1094px;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(255, 234, 79, 0.5);
    border-radius: 8px;
    .select-box {
      width: 712px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .box {
        padding: 24px 22px;
        width: 213px;
        height: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.575);
        box-sizing: border-box;
        cursor: pointer;
        &.on {
          background: #ffffff;
          border: 1px solid #000;
          color: #181a20;
        }
        span {
          color: #181a20;
          font-family: $font;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
        }
      }
    }
    .search-box-other {
      display: flex;
      flex-direction: row;
      align-items: center;
      .advanced-filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          margin-right: 10px;
          width: 25px;
          height: 22px;
          cursor: pointer;
        }
        span {
          color: #000;
          font-family: $font;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          cursor: pointer;
        }
      }
      .search-btn {
        margin-left: 12px;
        width: 62px;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 55px;
        // background: #d9e70d;
        background: #f1c242;
        cursor: pointer;
        svg {
          width: 20px;
          height: 20px;
          color: #ffffff;
        }
      }
    }
    .filter-location {
      position: absolute;
      padding: 40px 60px;
      width: 1094px;
      min-height: 120px;
      height: auto;
      top: 96px;
      right: 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      visibility: hidden;
      border-radius: 12px;
      background: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      box-sizing: border-box;
      z-index: 2;
      &.on {
        visibility: visible;
        transition: 0.2s ease-out;
        background: #fffdfd;
      }
      div {
        width: 295px;
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          width: 122px;
          height: 85px;
          border-radius: 15px;
          cursor: pointer;
        }
        span {
          margin-left: 22px;
          color: #181a20;
          font-family: $font;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          cursor: pointer;
          text-transform: capitalize;
        }
        label {
          line-height: 13px;
        }
      }
    }
    .filter-type {
      position: absolute;
      padding: 50px;
      width: 1094px;
      min-height: 120px;
      height: auto;
      top: 96px;
      right: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      visibility: hidden;
      border-radius: 12px;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      box-sizing: border-box;
      z-index: 1;
      &.on {
        visibility: visible;
        transition: 0.2s ease-out;
        background: #fffdfd;
      }
      div {
        position: relative;
        width: 272px;
        height: 168px;
        border-radius: 15px;
        cursor: pointer;
        background-size: cover;
        span {
          position: absolute;
          top: 13px;
          right: 12px;
          padding: 1px 5px 5px 5px;
          border-radius: 2px 2px 0px 0px;
          font-family: $font;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 26px;
          background: linear-gradient(
            180deg,
            #fff 0%,
            rgba(255, 255, 255, 0) 100%
          );
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
          text-transform: capitalize;
        }
      }
    }
    .filter-rooms {
      position: absolute;
      padding: 10px 92px;
      width: 1094px;
      min-height: 120px;
      height: auto;
      top: 96px;
      right: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      visibility: hidden;
      border-radius: 12px;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      box-sizing: border-box;
      z-index: 1;
      &.on {
        visibility: visible;
        transition: 0.2s ease-out;
        background: #b9b915;
      }
      span {
        display: flex;
        align-items: center;
        padding: 10px 30px;
        border: 1px solid #b9b915;
        color: #181a20;
        font-family: $font;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        cursor: pointer;
        &:hover {
          border-radius: 5px;
          border: 1px solid #b9b9b9;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
      }
    }
  }
}
