#pc-wrap {
  #community-list-page {
    position: relative;
    .container {
      min-height: 1000px;
      padding-top: 100px;
      flex-direction: column;
      gap: 64px;
      .main-box {
        flex-direction: row;
        gap: 31px;
        .left-config {
          width: 436px;
          height: fit-content;
          gap: 30px;
          padding: 30px 15px 57px 21px;
          margin-top: 200px;
          margin-bottom: 50px;
          border-radius: 12px;
          border: 1px solid rgba(196, 196, 196, 0.79);
          background: #fff;
          box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
          .tablist {
            display: flex;
            justify-content: center;
            align-items: center;
            div {
              display: flex;
              justify-content: center;
            }
          }

          .right {
            width: 91px;
            height: 42px;
            border-radius: 4px;
            background: #b1eb53;
            color: #0b7466;
            font-family: $font;
            font-size: 13px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.39px;
            transition: background 0.3s ease, box-shadow 0.3s ease,
              transform 0.2s ease;

            &:hover {
              background: #9ed947;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

            &:focus {
              outline: none;
              background: #32570e;
              box-shadow: 5px 0 10px 3px rgba(177, 235, 83, 0.5);
            }
          }

          .image-info {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 11px;
            img {
              margin-left: 10px;
              width: 55px;
              height: 55px;
              border-radius: 50%;
              object-fit: cover;
            }
            .community-name {
              .name {
                margin-top: 15px;
                color: #181a20;
                font-family: $font;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
            }
          }
          .tab-button {
            width: 216.612px;
            height: 36px;
            padding: 0;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            border: 1px solid #181a20;
            margin-bottom: 10px;
            color: #181a20;
            font-family: $font;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.266px;
          }
          .tab-button.active {
            width: 216.612px;
            height: 36px;
            padding: 0;
            justify-content: center;
            align-items: center;
            background-color: #000000;
            color: #ffffff;
            border-radius: 6px;
            margin-bottom: 10px;
            font-family: $font;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.266px;
          }
        }
        .right-config {
          width: 100%;
          margin-top: 60px;
          height: auto;
          .panel-config {
            display: flex;
            flex-direction: column;
            justify-content: center;

            gap: 50px;
            width: 100%;
            height: auto;
            .pagination-container {
              display: flex;
              width: 100%;
              justify-content: center;
              align-items: center;
              margin-right: 200px;
            }
            .title-box {
              width: 100%;
              height: auto;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              text-align: center;
              margin-bottom: 45px;
              .left {
                width: 60%;
                height: auto;
                .title {
                  color: #000;
                  font-family: $font;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  letter-spacing: 0.24px;
                  margin-bottom: 15px;
                }
                .sub-title {
                  margin-top: 10px;
                  color: #757575;
                  font-family: $font;
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  letter-spacing: 0.325px;
                }
              }
            }
            .list-box {
              width: 100%;
              height: auto;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 30px;
            }
          }
        }
      }
      .similar-articles-config {
        width: 100%;
        height: auto;
        gap: 75px;
        padding: 30px 9px 28px 9px;
        border-radius: 10px;
        border: 1px solid #c4c4c4;
        .similar-articles-title {
          padding-left: 56px;
          color: #000;
          font-family: $font;
          font-size: 30px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .articles-box-row {
          width: 100%;
          height: auto;
          flex-direction: row;
          gap: 5px;
        }
      }
    }
  }
}

.pagination-config {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 20px;

  padding-left: 270px;
  .pagination-box {
    align-items: center;
    justify-content: center;
  }
  .total-result {
    p {
      color: #181a20;
      text-align: center;
      font-family: $font;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
  }
}
